@model MVC_Asset.Models.AssetDetail

<h2>Reason For Deleting</h2>

<div class="form-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AssetEntryID)
    @Html.HiddenFor(model => model.AssetId)
    @Html.HiddenFor(model => model.AssetNo)
    @Html.HiddenFor(model => model.AssetType)
    @Html.HiddenFor(model => model.AssetDescription)
    @Html.HiddenFor(model => model.PurchaseDate)
    @Html.HiddenFor(model => model.WarrantyStartDate)
    @Html.HiddenFor(model => model.WarrantyEndDate)
    @Html.HiddenFor(model => model.Serial_No)
    @Html.HiddenFor(model => model.Isdeleted)


    @Html.LabelFor(model => model.Remarks)
    @Html.EditorFor(model => model.Remarks)
    @Html.ValidationMessageFor(model => model.Remarks)

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" onclick="AssignUpdate()" />
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script>
    function AssignUpdate() {
        var AssetEntryID = $("#AssetEntryID").val();
        var AssetId = $("#AssetId").val();
        var AssetNo = $("#AssetNo").val();
        var AssetType = $("#AssetType").val();
        var AssetDescription = $("#AssetDescription").val();
        var PurchaseDate = $("#PurchaseDate").val();
        var WarrantyStartDate = $("#WarrantyStartDate").val();
        var WarrantyEndDate = $("#WarrantyEndDate").val();
        var Remarks = $("#Remarks").val();
        var Isdeleted = $("#Isdeleted").val();
        var Serial_No = $("#Serial_No").val();


        var updatedUserassign = { "AssetEntryID": AssetEntryID, "AssetId": AssetId, "AssetNo": AssetNo, "AssetType": AssetType, "AssetDescription": AssetDescription, "PurchaseDate": PurchaseDate, "WarrantyStartDate": WarrantyStartDate, "WarrantyEndDate": WarrantyEndDate, "Remarks": Remarks, "Isdeleted": Isdeleted, "Serial_No": Serial_No }
        $.post('/AssetDetail/Deleted', updatedUserassign, function (data) { if (data == 0) { loaction: location.href; } }, 'json');
        alertify.alert("Record UnAssigned Successfully" + AssetEntryID);
    }
</script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
